body {
    background: #dddddd;
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
}

#myCanvas {
    border: 1px solid black;
    /*min-width: 1024px;*/
    /*min-height: 768px;*/
    /*min-width: 100%;*/
    /*min-height: 100%;*/
    margin-top: 4vw;
}

article {
    background-color: #fdfdfd;
    min-height: 500px;
    color: #333;
    width: 100%;
    margin-bottom: 3vw;
}

.canvas-container {
    text-align: center;
}

.annotations-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 25px;
}

.annotations-container  > div {
    width: 100%;
    padding-top:2vh;
}

.best-work {
    text-align: center;
    font-size:4vw;
    display: none;
}

.form-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 10px 0 3vw 5vw; */
    /* text-align: center; */
    margin: 25px;
}

@media screen and (max-width: 1030px) {
    .best-work {
        display: block;
        margin-top: 25%;
    }

    .item-page {
        display: none;
    }
}
